@import  'styles/variables'

.introduction
    @include ContainerMargin()
    color: $black_basic

    @media only screen and ( max-width: $breakpoint_mobile  )
        font-size: 0.8rem

        .logo
            width: 180px

    .columnsContainer
        display: flex
        flex-direction: row
        gap: 50px
        flex-wrap: wrap
        justify-content: space-between

        @media only screen and ( max-width: $breakpoint_tablet  )
            flex-direction: column
            gap: 10px

        div
            display: flex
            justify-content: flex-start
            align-items: center
            flex-direction: column
            flex: 1 1 40%
            text-align: justify

    .shape
        position: absolute
        right: 0
        top: 25%
        width: 70px
        @media only screen and ( max-width: $breakpoint_tablet  )
            width: 40px
        @media only screen and ( max-width: $breakpoint_mobile  )
            display: none
