@import  '../../../styles/variables'

.sectionContainer
    @include ContainerPadding($top:50px)
    background: Url('/patternBG.png')
    background-size: cover

    .cardsContainer
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 50px
        justify-content: center
        align-items: center
